.container-geral-box-pesquisa-loc {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.container-pesquisa-box-localizacao {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
}

.container-imagem-pesquisa-box {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.imagem-pesquisa-box {
    width: 100%;
    height: 50%;
    object-fit: contain;
}

.button-conhecer-container {
    width: 100%;
}

.button-conhecer {
    width: 93%;
    border-radius: 8px;
    font-weight: bold;
    font-size: 1.3rem;
    margin-top: 0;
}

.h1-loc {
    color: #2B2E51;
    font-weight: bold;
}

.container-select {
    width: 100%;
}

.select-estado {
    width: 100%;
    height: 3em;
    border-radius: 6px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding-left: 2%;
    margin: 0 2% 0 0;
    color: #B8B8B8;
    background-image: url("../images/svg/map-icon.svg");
    /* Add a search icon to input */
    background-position: 7px 8px;
    /* Position the search icon */
    background-repeat: no-repeat;
    padding-left: 13%;
}

.card-pesquisa {
    width: 42%;
    border-radius: 8px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}

.container-h1-pesquisa-loc,
.container-p-pesquisa-loc,
.container-select {
    padding: 4.5%;
}

.container-select {
    padding-bottom: 0;
}

@media screen and (max-width: 985px) {
    .container-imagem-pesquisa-box {
        display: none;
    }
    .card-pesquisa {
        width: 30rem;
    }
    .container-pesquisa-box-localizacao {
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

@media screen and (max-width: 509px) {
    .card-pesquisa {
        width: 90%;
    }
}

@media screen and (min-width: 986px) {
    .card-pesquisa {
        width: 80%;
    }
}

@media screen and (min-width: 986px) {
    .card-pesquisa {
        width: 40%;
    }
}