<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>WorkStation</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/box.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/boxs-gerais.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/date-picker.css') }}">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/png/icon-branco.png') }}">
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/png/icon-branco.png') }}">
    <script src="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.css">
</head>

<body>
    {% include 'generic/section_header.html' %}

    <section id="container-carrosel-box">
        <div class="container-carrosel-box">
            <div class="container-h1-box-and-voltar">
                <h1 class="h1-nome-box">Espaço Faria Lima</h1>
                <a class="a-voltar" href=" {{ url_for('box.index_box') }} ">Voltar a listagem </a>
            </div>
            <div class="container-p-endereco">
                <p class="p-endereco">Av. Brig. Faria Lima (Zona Sul)</p>
            </div>
            <div class="container-avaliacao-and-coments">
                <div class="container-estrelinha">
                    <img src=" {{ url_for('static', filename='images/svg/star.svg') }} ">
                    <p class="p-avaliacao-numero">4.5</p>
                </div>
                <a target="none" style="color: #ddd;">|&nbsp</a>
                <div class="container-p-comentarios">
                    <a href="#">20 comentários</a>
                </div>

            </div>
            <div class="container-carrosel-real">
                <article class="c-carousel c-carousel--thumbs imagem-box-grande">
                    <div class="c-carousel__slides js-carousel--thumbs">
                        <article class="c-carousel__slide">
                            <img src=" {{ url_for('static', filename='images/png/carrosel-box/1.jpg') }} " class="img-carousel-minor" alt="">
                        </article>

                        <article class="c-carousel__slide">
                            <img src=" {{ url_for('static', filename='images/png/carrosel-box/2.jpg') }} " class="img-carousel-minor" alt="">
                        </article>

                        <article class="c-carousel__slide">
                            <img src=" {{ url_for('static', filename='images/png/carrosel-box/3.jpg') }} " class="img-carousel-minor" alt="">
                        </article>

                        <article class="c-carousel__slide">
                            <img src=" {{ url_for('static', filename='images/png/carrosel-box/4.jpg') }} " class="img-carousel-minor" alt="">
                        </article>

                        <article class="c-carousel__slide">
                            <img src=" {{ url_for('static', filename='images/png/carrosel-box/5.jpg') }} " class="img-carousel-minor" alt="">
                        </article>

                        <article class="c-carousel__slide">
                            <img src=" {{ url_for('static', filename='images/png/carrosel-box/6.jpg') }} " class="img-carousel-minor" alt="">
                        </article>
                    </div>

                    <div class="c-carousel__thumbs">
                        <button id="image-0" class="c-carousel__thumb image-button-carousel" data-carousel-index="0"></button>

                        <button id="image-1" class="c-carousel__thumb image-button-carousel" data-carousel-index="1"></button>

                        <button id="image-2" class="c-carousel__thumb image-button-carousel" data-carousel-index="2"></button>

                        <button id="image-3" class="c-carousel__thumb image-button-carousel" data-carousel-index="3"></button>

                        <button id="image-4" class="c-carousel__thumb image-button-carousel" data-carousel-index="4"></button>

                        <button id="image-5" class="c-carousel__thumb image-button-carousel" data-carousel-index="5"></button>
                    </div>
                </article>

                <div class="container-valores">
                    <div class="ctn-val/dia">
                        <h1 class="h1-val">R$ 180 / Dia</h1>
                    </div>
                    <div class="ctn-p-val">
                        <p class="p-val">R$ 70 / Hora</p>
                    </div>
                    <div class="ctn-p-desc-val">
                        <p class="p-val-desc" style="font-weight: bold;">Muito mais que uma sala de reunião, um espaço para fechar negócios importantes e ter grandes ideias. Capacidade para até 12 pessoas.</p>
                    </div>
                    <div class="button-conhecer-container button-ver-detalhes-container">
                        <a class="button-conhecer button-ver-detalhes a-red" id="myBtn">Reservar</a>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="container-icons-gerais">
            <div class="dois-textos">
                <h2 class="h2-venha" style="color: black;">O que temos nas nossas boxes</h2>
            </div>
            <div class="container-icons">
                <div class="ctn-icon-real">
                    <img class="icon-box-detalhe" src=" {{ url_for('static', filename='images/svg/Icone de Boxes/icon-isolamento-rosa.svg') }} " alt="">
                    <div class="ctn-p-icon">
                        <p class="p-icon">Isolamento acústico</p>
                    </div>
                </div>
                <div class="ctn-icon-real">
                    <img class="icon-box-detalhe" src=" {{ url_for('static', filename='images/svg/Icone de Boxes/icon-wifi-rosa.svg') }} " alt="">
                    <div class="ctn-p-icon">
                        <p class="p-icon">Internet</p>
                    </div>
                </div>
                <div class="ctn-icon-real">
                    <img class="icon-box-detalhe" src=" {{ url_for('static', filename='images/svg/Icone de Boxes/icon-arcondicionado-rosa.svg') }} " alt="">
                    <div class="ctn-p-icon">
                        <p class="p-icon">Ar condicionado</p>
                    </div>
                </div>
            </div>
            <div class="container-icons embaixo">
                <div class="ctn-icon-real">
                    <img class="icon-box-detalhe" src=" {{ url_for('static', filename='images/svg/Icone de Boxes/icon-porta-rosa.svg') }} " alt="">
                    <div class="ctn-p-icon">
                        <p class="p-icon">Fechadura digital</p>
                    </div>
                </div>
                <div class="ctn-icon-real">
                    <img class="icon-box-detalhe" src=" {{ url_for('static', filename='images/svg/Icone de Boxes/icon-tv-rosa.svg') }} " alt="">
                    <div class="ctn-p-icon">
                        <p class="p-icon">Smart TV</p>
                    </div>
                </div>
                <div class="ctn-icon-real">
                    <img class="icon-box-detalhe" src=" {{ url_for('static', filename='images/svg/Icone de Boxes/icon-lousa-rosa.svg') }} " alt="">
                    <div class="ctn-p-icon">
                        <p class="p-icon">Lousa</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-local">
            <div class="dois-textos txt-local">
                <h2 class="h2-venha" style="color: black;">Local</h2>
            </div>
            <div class="container-imagem-local-farialima">
                <div class="mapouter">
                    <div class="gmap_canvas">
                        <iframe width="1000" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=Av.%20dos%20Autonomistas,%20896%20Torre%201%2012%C2%BA%20andar,%20CJ%201210%20Vila%20Yara,%20Osasco%20-%20SP%2006020-010&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="dois-textos">
            <h2 class="h2-venha" style="color: black;">Avaliações da WorkStation</h2>
        </div>
        <div class="container-carrosel">
            <article class="c-carousel c-carousel--responsive">
                <div class="c-carousel__slides js-carousel--responsive">
                    <article class="c-carousel__slide">
                        <div class="card">
                            <div class="container-name_cliente_estrelas">
                                <div class="container-nome">
                                    <p class="nome-cliente">Thiago</p>
                                    <p class="p-tipo-cliente">Cliente</p>
                                </div>
                                <div class="estrelas-avaliacao">
                                    <img class="estrela-svg" src=" {{ url_for('static', filename='images/svg/star.svg') }} ">
                                    <img class="estrela-svg" src=" {{ url_for('static', filename='images/svg/star.svg') }} ">
                                    <img class="estrela-svg" src=" {{ url_for('static', filename='images/svg/star.svg') }} ">
                                    <img class="estrela-svg" src=" {{ url_for('static', filename='images/svg/star.svg') }} ">
                                    <img class="estrela-svg" src=" {{ url_for('static', filename='images/svg/star.svg') }} ">
                                </div>
                            </div>
                            <div class="container">
                                <p class="avaliacao-atendimento">Atendimento incrivel!!! muito satisfeito!</p>
                                <p class="lugar-avaliacao">Avaliação feita no WorkStation </p>
                            </div>
                        </div>
                    </article>
                    <article class="c-carousel__slide">
                        <div class="card">
                            <div class="container-name_cliente_estrelas">
                                <div class="container-nome">
                                    <p class="nome-cliente">Thiago</p>
                                    <p class="p-tipo-cliente">Cliente</p>
                                </div>
                                <div class="estrelas-avaliacao">
                                    <img class="estrela-svg" src=" {{ url_for('static', filename='images/svg/star.svg') }} ">
                                    <img class="estrela-svg" src=" {{ url_for('static', filename='images/svg/star.svg') }} ">
                                    <img class="estrela-svg" src=" {{ url_for('static', filename='images/svg/star.svg') }} ">
                                    <img class="estrela-svg" src=" {{ url_for('static', filename='images/svg/star.svg') }} ">
                                    <img class="estrela-svg" src=" {{ url_for('static', filename='images/svg/star.svg') }} ">
                                </div>
                            </div>
                            <div class="container">
                                <p class="avaliacao-atendimento">Atendimento incrivel!!! muito satisfeito!</p>
                                <p class="lugar-avaliacao">Avaliação feita no WorkStation </p>
                            </div>
                        </div>
                    </article>
                    <article class="c-carousel__slide">
                        <div class="card">
                            <div class="container-name_cliente_estrelas">
                                <div class="container-nome">
                                    <p class="nome-cliente">Thiago</p>
                                    <p class="p-tipo-cliente">Cliente</p>
                                </div>
                                <div class="estrelas-avaliacao">
                                    <img class="estrela-svg" src=" {{ url_for('static', filename='images/svg/star.svg') }} ">
                                    <img class="estrela-svg" src=" {{ url_for('static', filename='images/svg/star.svg') }} ">
                                    <img class="estrela-svg" src=" {{ url_for('static', filename='images/svg/star.svg') }} ">
                                    <img class="estrela-svg" src=" {{ url_for('static', filename='images/svg/star.svg') }} ">
                                    <img class="estrela-svg" src=" {{ url_for('static', filename='images/svg/star.svg') }} ">
                                </div>
                            </div>
                            <div class="container">
                                <p class="avaliacao-atendimento">Atendimento incrivel!!! muito satisfeito!</p>
                                <p class="lugar-avaliacao">Avaliação feita no WorkStation </p>
                            </div>
                        </div>
                    </article>
                    <article class="c-carousel__slide">
                        <div class="card">
                            <div class="container-name_cliente_estrelas">
                                <div class="container-nome">
                                    <p class="nome-cliente">Thiago</p>
                                    <p class="p-tipo-cliente">Cliente</p>
                                </div>
                                <div class="estrelas-avaliacao">
                                    <img class="estrela-svg" src=" {{ url_for('static', filename='images/svg/star.svg') }} ">
                                    <img class="estrela-svg" src=" {{ url_for('static', filename='images/svg/star.svg') }} ">
                                    <img class="estrela-svg" src=" {{ url_for('static', filename='images/svg/star.svg') }} ">
                                    <img class="estrela-svg" src=" {{ url_for('static', filename='images/svg/star.svg') }} ">
                                    <img class="estrela-svg" src=" {{ url_for('static', filename='images/svg/star.svg') }} ">
                                </div>
                            </div>
                            <div class="container">
                                <p class="avaliacao-atendimento">Atendimento incrivel!!! muito satisfeito!</p>
                                <p class="lugar-avaliacao">Avaliação feita no WorkStation </p>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="js-carousel--responsive-dots" role="tablist"></div>
            </article>
        </div>
    </section>
        
    {% include 'generic/footer.html' %}

    <!-- The Modal -->
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <form method="post" target="{{url_for('box.detalhes_box')}}" style="height: 100%;">
                <span class="close">&times;</span>
                <h2 class="h2-selecione">Selecionar período da reserva</h2>
                <p class="p-sel" style="color: #787878;">Escolha uma data e hora disponível para reservar o seu uso na box.</p>
                <hr>
                <div class="container-date-picker">
                    <div class="container-date">
                        <div class="date-picker">
                            <div class="dates">
                                <div class="month container-h1">
                                    <div class="arrows prev-mth">&lt;</div>
                                    <div class="mth"></div>
                                    <div class="arrows next-mth">&gt;</div>
                                </div>

                                <div class="days"></div>
                            </div>
                        </div>
                    </div>
                    <div class="container-horarios">
                        <div class="container-h1">
                            <h3 class="melhor-horario">Qual o melhor horário para você?</h3>
                        </div>
                        <div class="container-buttons" id="container-horarios-id">
                            <input class="input-horario" type="checkbox" name="time_0" value="10:00" />
                            <input class="input-horario" type="checkbox" name="time_1" value="11:00" />
                            <input class="input-horario" type="checkbox" name="time_2" value="12:00" />
                            <input class="input-horario" type="button" name="time_3" value="13:00" />
                            <input class="input-horario" type="button" name="time_4" value="14:00" />
                            <input class="input-horario" type="button" name="time_5" value="15:00" />
                            <input class="input-horario" type="button" name="time_6" value="16:00" />
                            <input class="input-horario" type="button" name="time_7" value="17:00" />
                            <input class="input-horario" type="button" name="time_8" value="18:00" />
                            <input class="input-horario" type="button" name="time_9" value="19:00" />
                        </div>
                    </div>
                </div>
                <div class="container-reservar-botao">
                    <div class="container-button-login">
                        <input id="Login" type="submit" value="Login">
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>

<script type="text/javascript" src=" {{ url_for('static', filename='js/navbar.js') }} "></script>
<script src=" {{ url_for('static', filename='js/selecionar-horario.js') }} "></script>
<script src=" {{ url_for('static', filename='js/carrosel-card.js') }} "></script>
<script src=" {{ url_for('static', filename='js/carrosel-fotos-box.js') }} "></script>
<script src=" {{ url_for('static', filename='js/date-picker.js') }} "></script>
<script>
    // Get the modal
    var modal = document.getElementById("myModal");

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on the button, open the modal
    btn.onclick = function() {
        modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>

</html>