{% include 'generic/header.html' %}
    <section id="container-carrosel-box">
        <div class="container-carrosel-box">
            <div class="container-h1-box-and-voltar">
                <h1 class="h1-nome-box">Espaço Faria Lima</h1>
                <a class="a-voltar" href=" {{ url_for('box') }} ">Voltar a listagem </a>
            </div>
            <div class="container-p-endereco">
                <p class="p-endereco">Av. Brig. Faria Lima (Zona Sul)</p>
            </div>
            <div class="container-avaliacao-and-coments">
                <div class="container-estrelinha">
                    <img src=" {{ url_for('static', filename='images/svg/star.svg') }} ">
                    <p class="p-avaliacao-numero">4.5</p>
                </div>
                <a target="none" style="color: #ddd;">|&nbsp</a>
                <div class="container-p-comentarios">
                    <a href="#">20 comentários</a>
                </div>

            </div>
            <div class="container-carrosel-real">
                <article class="c-carousel c-carousel--thumbs imagem-box-grande">
                    <div class="c-carousel__slides js-carousel--thumbs">
                        <article class="c-carousel__slide">
                            <img src=" {{ url_for('static', filename='images/png/carrosel-box/1.jpg') }} " class="img-carousel-minor" alt="">
                        </article>

                        <article class="c-carousel__slide">
                            <img src=" {{ url_for('static', filename='images/png/carrosel-box/2.jpg') }} " class="img-carousel-minor" alt="">
                        </article>

                        <article class="c-carousel__slide">
                            <img src=" {{ url_for('static', filename='images/png/carrosel-box/3.jpg') }} " class="img-carousel-minor" alt="">
                        </article>

                        <article class="c-carousel__slide">
                            <img src=" {{ url_for('static', filename='images/png/carrosel-box/4.jpg') }} " class="img-carousel-minor" alt="">
                        </article>

                        <article class="c-carousel__slide">
                            <img src=" {{ url_for('static', filename='images/png/carrosel-box/5.jpg') }} " class="img-carousel-minor" alt="">
                        </article>

                        <article class="c-carousel__slide">
                            <img src=" {{ url_for('static', filename='images/png/carrosel-box/6.jpg') }} " class="img-carousel-minor" alt="">
                        </article>
                    </div>

                    <div class="c-carousel__thumbs">
                        <button id="image-0" class="c-carousel__thumb image-button-carousel" data-carousel-index="0"></button>

                        <button id="image-1" class="c-carousel__thumb image-button-carousel" data-carousel-index="1"></button>

                        <button id="image-2" class="c-carousel__thumb image-button-carousel" data-carousel-index="2"></button>

                        <button id="image-3" class="c-carousel__thumb image-button-carousel" data-carousel-index="3"></button>

                        <button id="image-4" class="c-carousel__thumb image-button-carousel" data-carousel-index="4"></button>

                        <button id="image-5" class="c-carousel__thumb image-button-carousel" data-carousel-index="4"></button>
                    </div>
                </article>
                
                <div class="container-valores">
                    <div class="ctn-val/dia">
                        <h1 class="h1-val">R$ 180 / Dia</h1>
                    </div>
                    <div class="ctn-p-val">
                        <p class="p-val">R$ 70 / Hora</p>
                    </div>
                    <div class="ctn-p-desc-val">
                        <p class="p-val-desc" style="font-weight: bold;">Muito mais que uma sala de reunião, um espaço para fechar negócios importantes e ter grandes ideias. Capacidade para até 12 pessoas.</p>
                    </div>
                    <div class="button-conhecer-container button-ver-detalhes-container">
                        <button class="button-conhecer button-ver-detalhes" id="myBtn">Reservar</button>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="container-icons-gerais">
            <div class="dois-textos">
                <h2 class="h2-venha" style="color: black;">O que temos nas nossas boxes</h2>
            </div>
            <div class="container-icons">
                <div class="ctn-icon-real">
                    <img class="icon-box-detalhe" src=" {{ url_for('static', filename='images/svg/Icone de Boxes/icon-isolamento-rosa.svg') }} " alt="">
                    <div class="ctn-p-icon">
                        <p class="p-icon">Isolamento acústico</p>
                    </div>
                </div>
                <div class="ctn-icon-real">
                    <img class="icon-box-detalhe" src=" {{ url_for('static', filename='images/svg/Icone de Boxes/icon-wifi-rosa.svg') }} " alt="">
                    <div class="ctn-p-icon">
                        <p class="p-icon">Internet</p>
                    </div>
                </div>
                <div class="ctn-icon-real">
                    <img class="icon-box-detalhe" src=" {{ url_for('static', filename='images/svg/Icone de Boxes/icon-arcondicionado-rosa.svg') }} " alt="">
                    <div class="ctn-p-icon">
                        <p class="p-icon">Ar condicionado</p>
                    </div>
                </div>
            </div>
            <div class="container-icons embaixo">
                <div class="ctn-icon-real">
                    <img class="icon-box-detalhe" src=" {{ url_for('static', filename='images/svg/Icone de Boxes/icon-porta-rosa.svg') }} " alt="">
                    <div class="ctn-p-icon">
                        <p class="p-icon">Fechadura digital</p>
                    </div>
                </div>
                <div class="ctn-icon-real">
                    <img class="icon-box-detalhe" src=" {{ url_for('static', filename='images/svg/Icone de Boxes/icon-tv-rosa.svg') }} " alt="">
                    <div class="ctn-p-icon">
                        <p class="p-icon">Smart TV</p>
                    </div>
                </div>
                <div class="ctn-icon-real">
                    <img class="icon-box-detalhe" src=" {{ url_for('static', filename='images/svg/Icone de Boxes/icon-lousa-rosa.svg') }} " alt="">
                    <div class="ctn-p-icon">
                        <p class="p-icon">Lousa</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-local">
            <div class="dois-textos txt-local">
                <h2 class="h2-venha" style="color: black;">Local</h2>
            </div>
            <div class="container-imagem-local-farialima">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10341.466677240487!2d-46.790245232384336!3d-23.59498484469233!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m3!3e0!4m0!4m0!5e0!3m2!1sen!2sbr!4v1650057519777!5m2!1sen!2sbr" width="600" height="450"
                    style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        <div class="dois-textos">
            <h2 class="h2-venha" style="color: black;">Avaliações da WorkStation</h2>
        </div>
        <div class="container-carrosel">
            <article class="c-carousel c-carousel--responsive">
                <div class="c-carousel__slides js-carousel--responsive">
                    <article class="c-carousel__slide">
                        <div class="card">
                            <div class="container-name_cliente_estrelas">
                                <div class="container-nome">
                                    <p class="nome-cliente">Thiago</p>
                                    <p class="p-tipo-cliente">Cliente</p>
                                </div>
                                <div class="estrelas-avaliacao">
                                    <img class="estrela-svg" src=" {{ url_for('static', filename='images/svg/star.svg') }} ">
                                    <img class="estrela-svg" src=" {{ url_for('static', filename='images/svg/star.svg') }} ">
                                    <img class="estrela-svg" src=" {{ url_for('static', filename='images/svg/star.svg') }} ">
                                    <img class="estrela-svg" src=" {{ url_for('static', filename='images/svg/star.svg') }} ">
                                    <img class="estrela-svg" src=" {{ url_for('static', filename='images/svg/star.svg') }} ">
                                </div>
                            </div>
                            <div class="container">
                                <p class="avaliacao-atendimento">Atendimento incrivel!!! muito satisfeito!</p>
                                <p class="lugar-avaliacao">Avaliação feita no WorkStation </p>
                            </div>
                        </div>
                    </article>
                    <article class="c-carousel__slide">
                        <div class="card">
                            <div class="container-name_cliente_estrelas">
                                <div class="container-nome">
                                    <p class="nome-cliente">Thiago</p>
                                    <p class="p-tipo-cliente">Cliente</p>
                                </div>
                                <div class="estrelas-avaliacao">
                                    <img class="estrela-svg" src=" {{ url_for('static', filename='images/svg/star.svg') }} ">
                                    <img class="estrela-svg" src=" {{ url_for('static', filename='images/svg/star.svg') }} ">
                                    <img class="estrela-svg" src=" {{ url_for('static', filename='images/svg/star.svg') }} ">
                                    <img class="estrela-svg" src=" {{ url_for('static', filename='images/svg/star.svg') }} ">
                                    <img class="estrela-svg" src=" {{ url_for('static', filename='images/svg/star.svg') }} ">
                                </div>
                            </div>
                            <div class="container">
                                <p class="avaliacao-atendimento">Atendimento incrivel!!! muito satisfeito!</p>
                                <p class="lugar-avaliacao">Avaliação feita no WorkStation </p>
                            </div>
                        </div>
                    </article>
                    <article class="c-carousel__slide">
                        <div class="card">
                            <div class="container-name_cliente_estrelas">
                                <div class="container-nome">
                                    <p class="nome-cliente">Thiago</p>
                                    <p class="p-tipo-cliente">Cliente</p>
                                </div>
                                <div class="estrelas-avaliacao">
                                    <img class="estrela-svg" src=" {{ url_for('static', filename='images/svg/star.svg') }} ">
                                    <img class="estrela-svg" src=" {{ url_for('static', filename='images/svg/star.svg') }} ">
                                    <img class="estrela-svg" src=" {{ url_for('static', filename='images/svg/star.svg') }} ">
                                    <img class="estrela-svg" src=" {{ url_for('static', filename='images/svg/star.svg') }} ">
                                    <img class="estrela-svg" src=" {{ url_for('static', filename='images/svg/star.svg') }} ">
                                </div>
                            </div>
                            <div class="container">
                                <p class="avaliacao-atendimento">Atendimento incrivel!!! muito satisfeito!</p>
                                <p class="lugar-avaliacao">Avaliação feita no WorkStation </p>
                            </div>
                        </div>
                    </article>
                    <article class="c-carousel__slide">
                        <div class="card">
                            <div class="container-name_cliente_estrelas">
                                <div class="container-nome">
                                    <p class="nome-cliente">Thiago</p>
                                    <p class="p-tipo-cliente">Cliente</p>
                                </div>
                                <div class="estrelas-avaliacao">
                                    <img class="estrela-svg" src=" {{ url_for('static', filename='images/svg/star.svg') }} ">
                                    <img class="estrela-svg" src=" {{ url_for('static', filename='images/svg/star.svg') }} ">
                                    <img class="estrela-svg" src=" {{ url_for('static', filename='images/svg/star.svg') }} ">
                                    <img class="estrela-svg" src=" {{ url_for('static', filename='images/svg/star.svg') }} ">
                                    <img class="estrela-svg" src=" {{ url_for('static', filename='images/svg/star.svg') }} ">
                                </div>
                            </div>
                            <div class="container">
                                <p class="avaliacao-atendimento">Atendimento incrivel!!! muito satisfeito!</p>
                                <p class="lugar-avaliacao">Avaliação feita no WorkStation </p>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="js-carousel--responsive-dots" role="tablist"></div>
            </article>
        </div>
    </section>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col">
                    <h4>Empresa</h4>
                    <ul>
                        <li><a href="">Box</a></li>
                        <li><a href="#">Planos</a></li>
                        <li><a href=" {{ url_for('about.index_about') }} ">Sobre</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Recursos</h4>
                    <ul>
                        <li><a href=" {{ url_for('blog.index_blog') }} ">Blog</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Suporte</h4>
                    <ul>
                        <li><a href="#">Chat com um Work</a></li>
                        <li><a href="#">Contato por e-mail</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Sigam-nos</h4>
                    <div class="social-links">
                        <a href="https://github.com/StartFuture/WorkStation" target="_blank"><i class="fab fa-github"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Trigger/Open The Modal -->

        <!-- The Modal -->
        <div id="myModal" class="modal">

            <!-- Modal content -->
            <div class="modal-content">
                <span class="close">&times;</span>
                <h2 class="h2-selecione">Selecionar período da reserva</h2>
                <p class="p-sel" style="color: #787878;">Escolha uma data e hora disponível para reservar o seu uso na box.</p>
                <hr>
                <div class="container-date-picker">
                    <div class="container-date">
                        <div class="date-picker">                    
                            <div class="dates">
                                <div class="month container-h1">
                                    <div class="arrows prev-mth">&lt;</div>
                                    <div class="mth"></div>
                                    <div class="arrows next-mth">&gt;</div>
                                </div>
                    
                                <div class="days"></div>
                            </div>
                        </div>
                    </div>
                    <div class="container-horarios">
                        <div class="container-h1">
                            <h3 class="melhor-horario">Qual o melhor horário para você?</h3>
                        </div>
                        <div class="container-buttons" id="container-horarios-id">
                            <input class="input-horario" type="button" value="10:00" />
                            <input class="input-horario" type="button" value="11:00" />
                            <input class="input-horario" type="button" value="12:00" />
                            <input class="input-horario" type="button" value="13:00" />
                            <input class="input-horario" type="button" value="14:00" />
                            <input class="input-horario" type="button" value="15:00" />
                            <input class="input-horario" type="button" value="16:00" />
                            <input class="input-horario" type="button" value="17:00" />
                            <input class="input-horario" type="button" value="18:00" />
                            <input class="input-horario" type="button" value="19:00" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        </div>
    </footer>
</body>
<script type="text/javascript" src=" {{ url_for('static', filename='api/navbar.js') }} "></script>
<script src=" {{ url_for('static', filename='api/selecionar-horario.js') }} "></script>
<script src=" {{ url_for('static', filename='api/carrosel-card.js') }} "></script>
<script src=" {{ url_for('static', filename='api/carrosel-fotos-box.js') }} "></script>
<script src=" {{ url_for('static', filename='api/date-picker.js') }} "></script>
<script>
    // Get the modal
    var modal = document.getElementById("myModal");

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on the button, open the modal
    btn.onclick = function() {
        modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>

</html>