<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>WorkStation</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/box.css') }}">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/png/icon-branco.png') }}">
</head>

<body>

    {% include 'generic/section_header.html' %}

    <section id="section-filtro">
        <div class="container-filtro">
            <input type="text" id="myInput" onkeyup="myFunction()" placeholder="São Paulo">
            <div class="container-select-zona">
                <select class="select-zona">
                <option>Zona</option>
                <option>Zona Norte</option>
                <option>Zona Sul</option>
                <option>Zona Leste</option>
                <option>Zona Oeste</option>
                <option>Centro</option>
            </select>
            </div>
            <div class="container-calendario-input">
                <input type="date" class="input-calendario" onfocus="(this.type=date)" placeholder="Teste ">
            </div>
            <input class="button-conhecer button-ver-detalhes" 
                style="width: 15%; height: 40px; margin: 0px 30px; padding: 0px 10px; color: white" 
                type="button" value="Pesquisar" />
        </div>
        <hr>
    </section>
    <section>
        <div class="container-boxes">
            {% for dict_box in boxes: %}
                <div class="card-box-geral">
                    <div class="container-imagem-box">
                        <img class="img-box" src=" {{ url_for('static', filename='images/png/carrosel-box/1.jpg') }} " alt="">
                    </div>
                    <div class="container-textos-informacoes-box">
                        <div class="container-h1-box">
                            <h1 class="h1-nome-box">{{dict_box['nome']}}</h1>
                        </div>
                        <div class="container-p-endereco">
                            <p class="p-endereco">{{dict_box['rua']}}, {{dict_box['cidade']}}, {{dict_box['estado']}}</p>
                        </div>
                        <div class="container-avaliacao-estrelas">
                            <img class="estrela-svg" src=" {{ url_for('static', filename='images/svg/star.svg') }} ">
                            <img class="estrela-svg" src=" {{ url_for('static', filename='images/svg/star.svg') }} ">
                            <img class="estrela-svg" src=" {{ url_for('static', filename='images/svg/star.svg') }} ">
                            <img class="estrela-svg" src=" {{ url_for('static', filename='images/svg/star.svg') }} ">
                            <img class="estrela-svg" src=" {{ url_for('static', filename='images/svg/star.svg') }} ">
                        </div>
                        <div class="container-p-descricao">
                            <p class="p-descricao">{{dict_box['descricao']}}</p>
                        </div>
                        <div class="container-icons">
                            <div class="container-icons-textos">
                                <div class="container-icons-textos">
                                    <img class="ar-svg" src=" {{ url_for('static', filename='images/svg/icons-box/icon-isolamento.svg') }} ">
                                    <p>Isolamento acústico</p>
                                </div>
                                <div class="container-icons-textos">
                                    <img class="ar-svg" src=" {{ url_for('static', filename='images/svg/icons-box/icon-wifi.svg') }} ">
                                    <p>Internet</p>
                                </div>
                            </div>
                            <div class="container-icons-textos">
                                <div class="container-icons-textos">
                                    <img class="ar-svg" src=" {{ url_for('static', filename='images/svg/icons-box/icon-arcondicionado.svg') }} ">
                                    <p>Ar condicionado</p>
                                </div>
                                <div class="container-icons-textos">
                                    <img class="ar-svg" src=" {{ url_for('static', filename='images/svg/icons-box/icon-porta.svg') }} ">
                                    <p>Fechadura digital</p>
                                </div>
                            </div>
                            <div class="container-icons-textos">
                                <div class="container-icons-textos">
                                    <img class="ar-svg" src=" {{ url_for('static', filename='images/svg/icons-box/icon-tv.svg') }} ">
                                    <p>Smart TV</p>
                                </div>
                                <div class="container-icons-textos">
                                    <img class="ar-svg" src=" {{ url_for('static', filename='images/svg/icons-box/icon-lousa.svg') }} ">
                                    <p>Lousa</p>
                                </div>
                            </div>
                            <div class="button-conhecer-container button-ver-detalhes-container">
                                <button class="button-conhecer button-ver-detalhes">
                                    <a href="{{ url_for('box.detalhes_box')}}" style="color: white; text-decoration: none;">Ver detalhes</a>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>
    </section>

    {% include 'generic/footer.html' %}

    <script type="text/javascript" src="{{ url_for('static', filename='js/navbar.js') }}"></script>

</body>

</html>