<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>WorkStation</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='style/box.css')}}">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="shortcut icon" type="imagex/png" href="{{url_for('static', filename='images/png/icon-branco.png')}}">
</head>

<body>
    <header id="header">
        <a class="id-page-return" href="{{url_for(main.index)}}"><img class="logo" src="{{url_for('static', filename='images/png/logo.png')}}"></a>

        <ul id="menu" role="menu" class="nav">
            <li><a href="{{url_for(box.index_box)}}">Box</a></li>

            <li><a href="{{url_for(main.about)}}">Sobre</a></li>
            <li><a href="{{url_for(blog.index_blog)}}">Blog</a></li>
        </ul>

        <div id="login" class="nav">
            <a id="reg" class="cta" href="{{url_for(user.register)}}">Register&nbsp</a>
            <a target="none" style="color: white;">|&nbsp</a>
            <a class="cta" href="login_page/login.html"><button id ="sign">Sign in</button></a>
        </div>

        <div id="nav-mobile">
            <button aria-label="Abrir Menu" id="btn-mobile" aria-haspopup="true" aria-controls="menu" aria-expanded="false">
            <span id="hamburger"></span>
        </button>

            <ul id="menu" role="menu">
                <div id="login">
                    <a id="reg" class="cta" href="{{url_for(user.register)}}">Register&nbsp</a>
                    <a target="none" style="color: white;">|&nbsp</a>
                    <a class="cta" href="login_page/login.html"><button id ="sign">Sign in</button></a>
                </div>
                <li><a href="{{url_for(box.index_box)}}">Box</a></li>

                <li><a href="{{url_for(main.about)}}">Sobre</a></li>
                <li><a href="{{url_for(blog.index_blog)}}">Blog</a></li>
            </ul>
        </div>
    </header>
    <section id="section-filtro">
        <div class="container-filtro">
            <input type="text" id="myInput" onkeyup="myFunction()" placeholder="São Paulo">
            <div class="container-select-zona">
                <select class="select-zona">
                <option>Zona</option>
                <option>Zona Norte</option>
                <option>Zona Sul</option>
                <option>Zona Leste</option>
                <option>Zona Oeste</option>
            </select>
            </div>
            <div class="container-calendario-input">
                <input type="date" class="input-calendario" onfocus="(this.type=date)" placeholder="Teste ">
            </div>
        </div>
        <hr>
    </section>
    <section>
        <div class="container-boxes">
            <div class="card-box-geral">
                <div class="container-imagem-box">
                    <img class="img-box" src=" {{ url_for('static', filename='images/png/box-scene-1.png') }} " alt="">
                </div>
                <div class="container-textos-informacoes-box">
                    <div class="container-h1-box">
                        <h1 class="h1-nome-box">Espaço Faria Lima</h1>
                    </div>
                    <div class="container-p-endereco">
                        <p class="p-endereco">Av. Brig. Faria Lima (Zona Sul)</p>
                    </div>
                    <div class="container-avaliacao-estrelas">
                        <img class="estrela-svg" src=" {{ url_for('static', filename='images/svg/star.svg') }} ">
                        <img class="estrela-svg" src=" {{ url_for('static', filename='images/svg/star.svg') }} ">
                        <img class="estrela-svg" src=" {{ url_for('static', filename='images/svg/star.svg') }} ">
                        <img class="estrela-svg" src=" {{ url_for('static', filename='images/svg/star.svg') }} ">
                        <img class="estrela-svg" src=" {{ url_for('static', filename='images/svg/star.svg') }} ">
                    </div>
                    <div class="container-p-descricao">
                        <p class="p-descricao">Muito mais que uma sala de reunião, um espaço para fechar negócios importantes e ter grandes ideias. Capacidade para até 12 pessoas.</p>
                    </div>
                    <div class="container-icons">
                        <div class="container-icons-textos">
                            <div class="container-icons-textos">
                                <img class="ar-svg" src=" {{ url_for('static', filename='images/svg/icons-box/icon-isolamento.svg') }} ">
                                <p>Isolamento acústico</p>
                            </div>
                            <div class="container-icons-textos">
                                <img class="ar-svg" src=" {{ url_for('static', filename='images/svg/icons-box/icon-wifi.svg') }} ">
                                <p>Internet</p>
                            </div>
                        </div>
                        <div class="container-icons-textos">
                            <div class="container-icons-textos">
                                <img class="ar-svg" src=" {{ url_for('static', filename='images/svg/icons-box/icon-arcondicionado.svg') }} ">
                                <p>Ar condicionado</p>
                            </div>
                            <div class="container-icons-textos">
                                <img class="ar-svg" src=" {{ url_for('static', filename='images/svg/icons-box/icon-porta.svg') }} ">
                                <p>Fechadura digital</p>
                            </div>
                        </div>
                        <div class="container-icons-textos">
                            <div class="container-icons-textos">
                                <img class="ar-svg" src=" {{ url_for('static', filename='images/svg/icons-box/icon-tv.svg') }} ">
                                <p>Smart TV</p>
                            </div>
                            <div class="container-icons-textos">
                                <img class="ar-svg" src=" {{ url_for('static', filename='images/svg/icons-box/icon-lousa.svg') }} ">
                                <p>Lousa</p>
                            </div>
                        </div>
                        <div class="button-conhecer-container button-ver-detalhes-container">
                            <button class="button-conhecer button-ver-detalhes">Ver detalhes</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-box-geral">
                <div class="container-imagem-box">
                    <img class="img-box" src=" {{ url_for('static', filename='images/svg/box-scene-2.png') }} " alt="">
                </div>
                <div class="container-textos-informacoes-box">
                    <div class="container-h1-box">
                        <h1 class="h1-nome-box">Espaço Faria Lima</h1>
                    </div>
                    <div class="container-p-endereco">
                        <p class="p-endereco">Av. Brig. Faria Lima (Zona Sul)</p>
                    </div>
                    <div class="container-avaliacao-estrelas">
                        <img class="estrela-svg" src=" {{ url_for('static', filename='images/svg/star.svg') }} ">
                        <img class="estrela-svg" src=" {{ url_for('static', filename='images/svg/star.svg') }} ">
                        <img class="estrela-svg" src=" {{ url_for('static', filename='images/svg/star.svg') }} ">
                        <img class="estrela-svg" src=" {{ url_for('static', filename='images/svg/star.svg') }} ">
                        <img class="estrela-svg" src=" {{ url_for('static', filename='images/svg/star.svg') }} ">
                    </div>
                    <div class="container-p-descricao">
                        <p class="p-descricao">Muito mais que uma sala de reunião, um espaço para fechar negócios importantes e ter grandes ideias. Capacidade para até 12 pessoas.</p>
                    </div>
                    <div class="container-icons">
                        <div class="container-icons-textos">
                            <div class="container-icons-textos">
                                <img class="ar-svg" src=" {{ url_for('static', filename='images/svg/icons-box/icon-isolamento.svg') }} ">
                                <p>Isolamento acústico</p>
                            </div>
                            <div class="container-icons-textos">
                                <img class="ar-svg" src=" {{ url_for('static', filename='images/svg/icons-box/icon-wifi.svg') }} ">
                                <p>Internet</p>
                            </div>
                        </div>
                        <div class="container-icons-textos">
                            <div class="container-icons-textos">
                                <img class="ar-svg" src=" {{ url_for('static', filename='images/svg/icons-box/icon-arcondicionado.svg') }} ">
                                <p>Ar condicionado</p>
                            </div>
                            <div class="container-icons-textos">
                                <img class="ar-svg" src=" {{ url_for('static', filename='images/svg/icons-box/icon-porta.svg') }} ">
                                <p>Fechadura digital</p>
                            </div>
                        </div>
                        <div class="container-icons-textos">
                            <div class="container-icons-textos">
                                <img class="ar-svg" src=" {{ url_for('static', filename='images/svg/icons-box/icon-tv.svg') }} ">
                                <p>Smart TV</p>
                            </div>
                            <div class="container-icons-textos">
                                <img class="ar-svg" src=" {{ url_for('static', filename='images/svg/icons-box/icon-lousa.svg') }} ">
                                <p>Lousa</p>
                            </div>
                        </div>
                        <div class="button-conhecer-container button-ver-detalhes-container">
                            <button class="button-conhecer button-ver-detalhes">Ver detalhes</button>
                        </div>
                    </div>
                </div>
            </div>
    </section>

    {% include 'generic/footer.html' %}

    <script type="text/javascript" src="{{ url_for('static', filename='js/navbar.js') }}"></script>

</body>

</html>