<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>WorkStation</title>
	<link rel="stylesheet" href="{{url_for('static', filename='style/style.css')}}">
	<link rel="stylesheet" href="{{url_for('static', filename='style/login.css')}}">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
	<link rel="shortcut icon" type="imagex/png" href="{{url_for('static', filename='images/png/icon-branco.png')}}">
</head>
<body>
	{% include 'generic/section_header.html' %}
	<main>
		<div class="container-esquerda">
			<div class="container-imagem-login">
				<img class="img-login-principal" src="{{url_for('static', filename='images/svg/login-page/reset-senha.svg')}}">
			</div>
		</div>
		<div class="container-direita"> 
			<div class="container-form-geral">
				<div class="container-logo-rosa">
					<img class="img-logo-rosa" src="{{url_for('static', filename='images/svg/Logo _workstation_rosa.svg')}}">
				</div>
				<div class="container-form">
					<form method="post">
						<div class="ctn-verificacao">
							<h2 class="h2-verificacao" style="color:black;">Esqueci minha senha </h2>
							<p class="p-codigo-ex" style="color: #787878;">Para redefinir sua senha, informe o usuário ou e-mail cadastrado na sua conta e lhe enviaremos um link com as instruções  </p>
						</div>
						<div class="container-barra-progresso">
							<img class="barra-progresso" src="{{url_for('static', filename='images/svg/login-page/barra-progresso-1.svg')}}">
						</div>
						<div class="campo_txt">
							<label class="campo-requerido">E-mail</label>
							<input class="inputs-login" type="text" required placeholder="Insira o seu e-mail">
						</div>
						
						<div class="container-button-login">
							<input type="submit" value="Próximo">
						</div>
						
					</form>
				</div>
			</div>
		</div>
	</main>
</body>
<script type="text/javascript" src="{{url_for('static', filename='js/navbar.js')}}"></script>
</html>


