.a-voltar {
    color: #FF0A54;
}

.container-h1-box-and-voltar {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.container-estrelinha {
    display: flex;
}

.container-avaliacao-and-coments {
    display: flex;
}

.input-horario {
    width: 65%;
    margin: 1%;
    height: 41px;
    background-color: white;
    border-radius: 8px;
    border: 1px solid #ddd;
}

.container-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5%;
}

.container-carrosel-box {
    height: 135vh;
}

.container-date {
    width: 50%;
    height: 100%;
}

.container-horarios {
    width: 50%;
    height: 100%;
    overflow: auto;
}

.ctn-icon-real {
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 11rem;
    height: 115px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

hr {
    margin-top: 5%;
}

.container-icons-gerais {
    height: 166vh;
}

.ctn-p-icon {
    margin-top: 8%;
}

.dois-textos {
    height: -1vh !important;
}

.p-end {
    display: flex;
    padding: 1% 9% 0 28%;
}

.p-icon {
    font-weight: bold;
    color: #FF0A54;
    font-size: 20px;
}

.container-imagem-box-grande {
    height: 45rem;
    /* width: 100%; */
    /* margin: auto; */
    align-items: center;
    justify-content: center;
    display: flex;
    padding-right: 9%;
    /* margin-right: 16%; */
    padding-top: 5%;
    padding-left: 9%;
}

.imagem-box-grande {
    height: 100%;
    width: 100%;
    margin: auto;
}

.container-date-picker {
    display: flex;
    height: 90%;
}

.container-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3%;
}

.container-h1 {
    height: 42px;
    background-color: #2B2E51;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.melhor-horario {
    color: white;
}

.embaixo {
    margin-top: 2%;
}


/*** LOCAL ***/

.container-local {
    height: 100vh;
}

.container-imagem-local-farialima {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-right: 9%;
    /* margin-right: 16%; */
    padding-top: 5%;
    padding-left: 9%;
}

.img-maps {
    width: 53%;
    height: 100%;
}


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content/Box */

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: 70%;
}


/* The Close Button */

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/** CARD **/

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #F2F2F2;
    transition: 0.3s;
    width: 75%;
    height: 80%;
    border-radius: 33px;
    margin-bottom: 10%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
    padding: 2px 16px;
    margin-top: 10%;
}

.c-carousel--responsive {
    max-width: 100%;
}

.c-carousel__thumbs {
    padding-top: 2%;
}

.c-carousel__slide {
    align-items: center;
    color: var(--color-webfatorial-gray-2);
    display: flex;
    font-size: 200%;
    justify-content: center;
    padding: rem(50) 0;
}

.c-carousel__slides {
    border: rem(2) solid #a89cc8;
}

.c-carousel__slides:not(:first-child) {
    border-left: rem(1) solid #a89cc8;
}

.container-name_cliente_estrelas {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 0 20px
}

.estrelas-avaliacao {
    display: flex;
}

.container-nome {
    display: flex;
    flex-direction: column;
}

.estrelas-avaliacao {
    width: 40%;
    height: 10%;
}

.estrela-svg {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.nome-cliente {
    font-size: 26px;
    color: black;
    font-weight: bold;
}

.p-tipo-cliente {
    color: #787878;
    font-size: 20px;
    margin-top: 1%;
    text-align: left;
}

.avaliacao-atendimento {
    font-size: 23px;
    text-align: left;
    font-weight: bold;
}

.lugar-avaliacao {
    font-size: 18px;
    color: #787878;
    margin-top: 3%;
    margin-bottom: 3%;
    text-align: left;
}

.container-carrosel {
    height: 69vh;
}


/**CONTAINER CAROSSEL VARIOS**/

.container-carrosel-real {
    height: 80%;
    display: flex;
}

.image-button-carousel {
    width: 200px;
    height: 100px;
    border: 0;
}

#image-0 {
    background: url(../images/png/carrosel-box/box_atras_perto_final.png) no-repeat scroll 0 0 transparent;
    background-size: 100%;
    background-size: 200px auto;
}

#image-1 {
    background: url(../images/png/carrosel-box/box_atras_final.png) no-repeat scroll 0 0 transparent;
    background-size: 100%;
    background-size: 200px auto;
}

#image-2 {
    background: url(../images/png/carrosel-box/box_atras_perto_cima_final.png) no-repeat scroll 0 0 transparent;
    background-size: 100%;
    background-size: 200px auto;
}

#image-3 {
    background: url(../images/png/carrosel-box/box_frente_direita_cima_final.png) no-repeat scroll 0 0 transparent;
    background-size: 100%;
    background-size: 200px auto;
}

#image-4 {
    background: url(../images/png/carrosel-box/box_frente_final.png) no-repeat scroll 0 0 transparent;
    background-size: 100%;
    background-size: 200px auto;
}

.container-valores {
    height: 61%;
    width: 23rem;
    border-radius: 8px;
    border: 1px solid #ddd;
    padding: 3%;
}

.h1-val {
    color: #FF0A54;
}

.p-val,
.p-val-desc {
    color: #787878;
}

.button-ver-detalhes {
    width: 100%;
}

.button-ver-detalhes-container {
    margin-top: 9rem;
}

.container-h1-box-and-voltar {
    padding: 2% 2% 0 2%;
}

.container-p-endereco,
.container-avaliacao-and-coments {
    padding: 0 2% 0 2%;
}

.container-avaliacao-and-coments {
    padding-bottom: 2%;
}

@media screen and (max-width:827px) {
    .container-carrosel-real {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 12%;
    }
    .container-carrosel-box {
        height: 200vh;
    }
}