.container-img-reduzida-e-textos {
    height: 20%;
    display: flex;
    width: 100%;
    padding: 4% 4% 0 4%;
}

.container-textos-principais-inf {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.container-textos-inf-box {
    width: 100%;
    padding-left: 3%;
}

.h1-horas {
    color: #FF0A54;
}

.p-hora-inf,
.p-endereco-inf {
    color: #787878;
}

.h2-forma-pagamento {
    color: #787878;
}

.container-h1-inf {
    margin-top: 1%;
}

.editar {
    border: none;
    background-color: white;
    color: #FF0A54;
    text-decoration: underline;
    font-weight: bold;
    font-size: 17px;
}

.editar:hover {
    cursor: pointer;
}

.container-forma-de-pagamento {
    padding: 2% 4% 0 4%;
}

.container-inf-cartao {
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
}

.container-1-linha {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-right: 4%;
    padding-left: 4%;
}

.p-box {
    color: #787878;
}

.p-preco {
    font-weight: bold;
}

.container-ultimas-infs {
    margin-top: 2%;
}

.segunda-linha {
    margin-top: 1%;
}

.cancelar {
    display: flex;
    align-items: baseline;
    font-size: 16px;
    color: #787878;
    font-weight: bold;
}

.button-conhecer-container {
    width: auto;
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    gap: 1rem;
    margin-right: 4%;
    padding-top: 1%;
}

.button-conhecer {
    width: 10rem;
    height: 35px;
    background-color: rgba(255, 10, 84, 1);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-top: 20px;
    font-weight: bold;
}

hr {
    margin: 2% 4% 0 4%
}

@media screen and (max-width: 856px) {
    .container-img-reduzida-e-textos {
        flex-direction: column;
    }
    .container-textos-inf-box {
        padding: 0;
    }
}

@media screen and (max-width: 658px) {
    .container-textos-principais-inf {
        flex-direction: column;
    }
    .container-inf-cartao {
        width: 100%;
    }
    .button-conhecer-container {
        padding-top: 3%;
    }
    .container-forma-de-pagamento {
        padding: 4% 4% 0 4%;
    }
}