 {% include 'generic/header.html' %}
    <section>
        <div id="container-geral-about">
            <div class="ctn-txt-somos">
                <h1 class="h1-quem-somos">Quem é a WorkStation ?</h1>
                <p class="desc-quem-somos">Somos uma empresa focada em criar um ambiente de trabalho privativo, prático e flexível.</p>
            </div>
            <div class="ctn-oq-temos">
                <div class="titulo-temos">
                    <h2 class="oq-temos-box">O que temos nas nossas boxes;</h2>
                </div>
                <div class="container-oq-temos-1 primeiro-ctn-temos">
                    <div class="temos-descricao">
                        <div class="ctn-icon">
                            <img class="icon-nossas-box" src="{{ url_for('static', filename='images/svg/icons-dif/Isolamento.svg')}}">
                        </div>
                        <h2 class="icone-oq-temos">Isolamento acústico</h2>
                    </div>
                    <div class="temos-descricao">
                        <div class="ctn-icon">
                            <img class="icon-nossas-box" src="{{ url_for('static', filename='images/svg/icons-dif/Internet.svg')}}">
                        </div>
                        <h2 class="icone-oq-temos">Internet</h2>
                    </div>
                    <div class="temos-descricao">
                        <div class="ctn-icon">
                            <img class="icon-nossas-box" src="{{ url_for('static', filename='images/svg/icons-dif/Conforto.svg')}}">
                        </div>
                        <h2 class="icone-oq-temos">Conforto</h2>
                    </div>
                </div>
                <div class="container-oq-temos-1 segundo-ctn-temos">
                    <div class="temos-descricao">
                        <div class="ctn-icon">
                            <img class="icon-nossas-box" src="{{ url_for('static', filename='images/svg/icons-dif/Segurança.svg')}}">
                        </div>
                        <h2 class="icone-oq-temos">Segurança</h2>
                    </div>
                    <div class="temos-descricao">
                        <div class="ctn-icon">
                            <img class="icon-nossas-box" src="{{ url_for('static', filename='images/svg/icons-dif/Privacidade.svg')}}">
                        </div>
                        <h2 class="icone-oq-temos">Privacidade</h2>
                    </div>
                    <div class="temos-descricao">
                        <div class="ctn-icon">
                            <img class="icon-nossas-box" src="{{ url_for('static', filename='images/svg/icons-dif/Confiança.svg')}}">
                        </div>
                        <h2 class="icone-oq-temos">Confiança</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="segunda-section-about">
        <div id="container-valores-etc">
            <div id="ctn-txt-missao-valores">
                <h1 class="h2-venha" style="color:#2B2E51">Missão, visão e valores</h1>
            </div>
            <div id="container-textos-imagens-missao">
                <div class="descricao-valores">
                    <div class="texto-valores valores-ofc">
                        <h2 class="h2-missao-valores">Missão</h2>
                        <p class="p-descricao-missao-valores">Nossa missão é criar um site que gerencie todo o processo de locação do seu espaço escolhido, facilitando o acesso e segurança, disponibilizando opções em diversas regiões do Brasil.</p>
                    </div>
                    <div class="imagem-valores">
                        <img src="{{ url_for('static', filename='images/svg/section-valores/Missao.svg')}}" class="img-valores">
                    </div>
                </div>
                <div class="descricao-valores missao-ofc">
                    <div class="texto-valores">
                        <h2 class="h2-missao-valores">Visão</h2>
                        <p class="p-descricao-missao-valores">Buscamos levar espaços diferenciados com adequações perfeitas para um ambiente de trabalho home office sem interrupções e de fácil acesso</p>
                    </div>
                    <div class="imagem-valores">
                        <img src="{{ url_for('static', filename='images/svg/section-valores/Visao.svg')}}" class="img-valores">
                    </div>
                </div>
                <div class="descricao-valores visão-ofc">
                    <div class="texto-valores">
                        <h2 class="h2-missao-valores">Valores</h2>
                        <p class="p-descricao-missao-valores">Prezamos pela qualidade de trabalho, trazendo todo o material necessário para o seu home office, além de um ambiente confortável.</p>
                    </div>
                    <div class="imagem-valores">
                        <img src="{{ url_for('static', filename='images/svg/section-valores/Valores.svg')}}" class="img-valores">
                    </div>
                </div>
                <div class="descricao-valores cultura-ofc">
                    <div class="texto-valores txt-cultura">
                        <h2 class="h2-missao-valores " style="color: #FF0A54;">A Cultura WorkStation</h2>
                        <p class="descricao-cultura">Prezamos por aprimorar a qualidade de vida das pessoas, usufruindo das melhores tecnologias ao nosso e ao seu favor.</p>
                        <p class="descricao-cultura">Defendemos a saúde e bem estar, investindo em conforto e praticidade.</p>
                        <p class="descricao-cultura">A facilidade é nosso foco, visando isso, oferecemos um processo de locação sem burocracia.</p>
                        <p class="descricao-cultura">Com o objetivo de levar nossa missão a um número máximo de pessoas, nossos espaços estão disponíveis em diversos lugares do Brasil.</p>
                    </div>
                    <div class="imagem-valores">
                        <img src="{{ url_for('static', filename='images/svg/section-valores/Cultura.svg')}}" class="img-valores">
                    </div>
                </div>
            </div>
            <hr></hr>
    </section>
    <section id="terceira-section-avaliacao">
        <div class="container-avaliacao-txt">
            <div class="container-titulo-avaliação">
                <h3 class="p-encontre" style="color:grey;">A opinião de nossos clientes</h3>
                <h1 class="h2-venha" style="color:#2B2E51">Avaliações da WorkStation</h1>
            </div>
            <!-- AQUI-->
            <article class="c-carousel c-carousel--responsive">
                <div class="c-carousel__slides js-carousel--responsive">
                    <article class="c-carousel__slide">
                        <div class="card">
                            <div class="container-name_cliente_estrelas">
                                <div class="container-nome">
                                    <p class="nome-cliente">Thiago</p>
                                    <p class="p-tipo-cliente">Cliente</p>
                                </div>
                                <div class="estrelas-avaliacao">
                                    <img class="estrela-svg" src="{{ url_for('static', filename='images/svg/star.svg')}}">
                                    <img class="estrela-svg" src="{{ url_for('static', filename='images/svg/star.svg')}}">
                                    <img class="estrela-svg" src="{{ url_for('static', filename='images/svg/star.svg')}}">
                                    <img class="estrela-svg" src="{{ url_for('static', filename='images/svg/star.svg')}}">
                                    <img class="estrela-svg" src="{{ url_for('static', filename='images/svg/star.svg')}}">
                                </div>
                            </div>
                            <div class="container">
                                <p class="avaliacao-atendimento">Atendimento incrivel!!! muito satisfeito!</p>
                                <p class="lugar-avaliacao">Avaliação feita no WorkStation </p>
                            </div>
                        </div>
                    </article>
                    <article class="c-carousel__slide">
                        <div class="card">
                            <div class="container-name_cliente_estrelas">
                                <div class="container-nome">
                                    <p class="nome-cliente">Thiago</p>
                                    <p class="p-tipo-cliente">Cliente</p>
                                </div>
                                <div class="estrelas-avaliacao">
                                    <img class="estrela-svg" src="{{ url_for('static', filename='images/svg/star.svg')}}">
                                    <img class="estrela-svg" src="{{ url_for('static', filename='images/svg/star.svg')}}">
                                    <img class="estrela-svg" src="{{ url_for('static', filename='images/svg/star.svg')}}">
                                    <img class="estrela-svg" src="{{ url_for('static', filename='images/svg/star.svg')}}">
                                    <img class="estrela-svg" src="{{ url_for('static', filename='images/svg/star.svg')}}">
                                </div>
                            </div>
                            <div class="container">
                                <p class="avaliacao-atendimento">Atendimento incrivel!!! muito satisfeito!</p>
                                <p class="lugar-avaliacao">Avaliação feita no WorkStation </p>
                            </div>
                        </div>
                    </article>
                    <article class="c-carousel__slide">
                        <div class="card">
                            <div class="container-name_cliente_estrelas">
                                <div class="container-nome">
                                    <p class="nome-cliente">Thiago</p>
                                    <p class="p-tipo-cliente">Cliente</p>
                                </div>
                                <div class="estrelas-avaliacao">
                                    <img class="estrela-svg" src="{{ url_for('static', filename='images/svg/star.svg')}}">
                                    <img class="estrela-svg" src="{{ url_for('static', filename='images/svg/star.svg')}}">
                                    <img class="estrela-svg" src="{{ url_for('static', filename='images/svg/star.svg')}}">
                                    <img class="estrela-svg" src="{{ url_for('static', filename='images/svg/star.svg')}}">
                                    <img class="estrela-svg" src="{{ url_for('static', filename='images/svg/star.svg')}}">
                                </div>
                            </div>
                            <div class="container">
                                <p class="avaliacao-atendimento">Atendimento incrivel!!! muito satisfeita!</p>
                                <p class="lugar-avaliacao">Avaliação feita no WorkStation </p>
                            </div>
                        </div>
                    </article>
                    <article class="c-carousel__slide">
                        <div class="card">
                            <div class="container-name_cliente_estrelas">
                                <div class="container-nome">
                                    <p class="nome-cliente">Thiago</p>
                                    <p class="p-tipo-cliente">Cliente</p>
                                </div>
                                <div class="estrelas-avaliacao">
                                    <img class="estrela-svg" src="{{ url_for('static', filename='images/svg/star.svg')}}">
                                    <img class="estrela-svg" src="{{ url_for('static', filename='images/svg/star.svg')}}">
                                    <img class="estrela-svg" src="{{ url_for('static', filename='images/svg/star.svg')}}">
                                    <img class="estrela-svg" src="{{ url_for('static', filename='images/svg/star.svg')}}">
                                    <img class="estrela-svg" src="{{ url_for('static', filename='images/svg/star.svg')}}">
                                </div>
                            </div>
                            <div class="container">
                                <p class="avaliacao-atendimento">Atendimento incrivel!!! muito satisfeita!</p>
                                <p class="lugar-avaliacao">Avaliação feita no WorkStation </p>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="js-carousel--responsive-dots" role="tablist"></div>
            </article>
        </div>
    </section>
    
    {% include 'generic/footer.html' %}
    
    <script type="text/javascript" src="{{ url_for('static', filename='js/navbar.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/carrosel-card.js')}}"></script>

</body>

</html>