<footer class="footer">
    <div class="container">
        <div class="row">

            <div class="footer-col">
                <h4>Empresa</h4>
                <ul>
                    <li><a href="#segunda-section">Box</a></li>

                    <li><a href="{{url_for(main.about)}}">Sobre</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Recursos</h4>
                <ul>
                    <li><a href="container-blog">Blog</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Suporte</h4>
                <ul>
                    <li><a href="#">Chat com um Work</a></li>
                    <li><a href="#">Contato por e-mail</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Sigam-nos</h4>
                <div class="social-links">
                    <a href="https://github.com/StartFuture/WorkStation" target="_blank"><i class="fab fa-github"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>