#container-geral-about{
	height: 120vh;
	background-color: white;
}

.container-oq-temos-1{
	display: flex;

}
.ctn-txt-somos{
	text-align: center;
	padding-top: 5%;
}

.container-oq-temos-1{
	padding-left: 15%;
	padding-right: 15%;
	grid-gap: 10em;
}

.titulo-temos{
	text-align: center;
	font-size: 1.5em;
}

.ctn-oq-temos{
	padding-top: 4%;
	
}

.segundo-ctn-temos, .primeiro-ctn-temos{
	padding-top: 4%;
}

.descrição-oq-temos, .icone-oq-temos{
	padding-top: 3%;
}
.descrição-oq-temos{
	font-weight: 600;
}
.icone-oq-temos{
	color: #2B2E51;
}

@media screen and (max-width: 1223px){
	.container-oq-temos-1{
		padding-left: 5%;
		padding-right: 5%;
	
	}
	.container-oq-temos-1{
		flex-direction: column;
	}

	#container-geral-about{
	height: 270vh;
	}
}


/** SEGUNDA SECTION - MISSÃO VISÃO E VALORES **/

#container-valores-etc{
	height: 300vh;
}

#ctn-txt-missão-valores{
	text-align: center;
	padding-bottom: 3%;
	padding-top: 3%;
}

.descrição-valores{
	display: flex;
	width: auto;
	height: 25%;
	padding-right: 15%;
	padding-left: 15%;
	grid-gap: 4%;
}

.missão-ofc, .cultura-ofc{
	flex-direction: row-reverse;
}

.missão-ofc,.visão-ofc, .cultura-ofc, .cultura-ofc{
	padding-top: 2%;
}
.p-descrição-missão-valores{
	color: #787878;
	font-family: "Asap", italic;
	font-weight: 400;
	text-align: justify;
	width: 100%;
	height: 100%;
	word-wrap: break-word;
}

.texto-valores{
	margin-top: 10%;
	width: 100%;
}
.h2-missão-valores{
	color: #303030;
	text-align: center;
	padding-bottom: 1%;
	font-size: 2.5em;

}

.h2-cultura{
	text-align: center;
	padding-bottom: 1%;
	color: #FF0A54;
}

.txt-cultura{
	margin-top: 0;
}

.cultura-ofc{
	grid-gap: 4%;
	

}

.teste{
	word-wrap: break-word;
	height: 100em;
	width: auto;

}

.descrição-cultura{
	padding-top: 2%;
	color: #787878;
}

/* TESTE */
@media screen and (min-width: 1430px){
	#container-valores-etc{
	height: 330vh;
	
	}

}

hr{
	background-color: #2B2E51;
    height: 15px;
    /* padding: 0% 5% 0% 5%; */
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 30px;
}


