<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cadastro</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='style/login.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='style/cadastro.css')}}">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="shortcut icon" type="images/png" href="{{url_for('static', filename='images/png/icon-branco.png')}}">
</head>
<body>
    {% include 'generic/section_header.html' %}
    <main>
        <div class="container-esquerda">
            <div class="container-imagem-login">
                <img class="img-login-principal" src="{{url_for('static', filename='images/svg/login-page/Login-principal.svg')}}" />
            </div>
        </div>
        <div class="container-direita">
            <div class="container-form-geral">
                <div class="container-logo-rosa">
                    <img class="img-logo-rosa" src="{{url_for('static', filename='images/svg/Logo _workstation_rosa.svg')}}">
                </div>
                <div class="container-form">
                    <form method="post" target="{{ url_for('user.register') }}">
                        <div class="campo_txt">
                            <label class="campo-requerido">Nome completo</label>
                            <input class="inputs-login" name="username" type="text" required placeholder="Digite seu nome completo">
                        </div>
                        <div class="campo_txt">
                            <label class="campo-requerido">Senha</label>
                            <input class="inputs-login" name="password" type="password" required placeholder="Digite seu senha">
                        </div>
                        <div class="campo_txt">
                            <label class="campo-requerido">Confirme a senha</label>
                            <input class="inputs-login" type="password" required placeholder="Confirme senha">
                        </div>
                        <div class="campo_nascimento">
                            <label class="campo-requerido">Data de nascimento</label>
                            <input class="inputs-login" name="birthday" type="date" required placeholder="Data de nascimento">
                        </div>
                        <div class="campo_txt">
                            <label class="campo-requerido">E-mail</label>
                            <input class="inputs-login" name="email" type="e-mail" required placeholder="Digite seu e-mail">
                        </div>
                        <div class="campo_txt">
                            <label class="campo-requerido">Confirme o e-mail</label>
                            <input class="inputs-login" type="text" required placeholder="Confirme o e-mail">
                        </div>
                        <div class="campo_txt">
                            <label class="campo-requerido">Pessoa Física ou Pessoa Jurídica</label>
                            <input class="inputs-login" name="cpf_cnpj" type="password" required placeholder="Digite seu CPF ou CNPJ">
                        </div>
                        <div class="campo_txt">
                            <label class="campo-requerido">Número de telefone</label>
                            <div class="container-select">
                                {% include 'generic/all_contry_code_phones.html' %}
                                <input class="inputs-login" type="tel" required placeholder="(11) 91234-5678" name="phone"/>
                            </div>
                        </div>
                        <div class="campo_txt">
                            <label class="campo-requerido">Sexo</label>
                            <div class="container-select">
                                <select name="sexo">
									<option value="dia">Masculino</option>
									<option value="dia">Feminino</option>
									<option value="dia">Outros</option>
								</select>
                            </div>
                        </div>
                        <div class="campo_check">
                            <input type="checkbox" name="termos" required>
                            <p class="p-check-box">Eu li e concordo com os termos de uso</p>
                        </div>
                        <div class="container-button-login">
                            <input id="finalizar-cadastro" type="submit" value="Finalizar cadastro">
                        </div>

                        <div class="criar-conta">
                            <p class="nao-tem-conta">Tem uma conta?</p> <a href="{{url_for('user.login')}}">Conecte-se</a>
                        </div>
                    </form>
                </div>
                <div id="myModal" class="modal">
                    <div class="modal-content">
                        <span class="close">&times;</span>
                        <div class="container-sucess">
                            <img class="sucess-img" src="{{url_for('static', filename='images/svg/login-page/sucess.svg')}}">
                        </div>
                        <p class="p-sucesso">Sucesso!</p>
                        <div class="container-btn-continue">
                            <button class="btn-continue-cadastro "><a class="btn-continue-a" href="google.com">Continuar</a></button>
                        </div>
                    </div>
                </div>
                <div id="myModal-2" class="modal-2">
                    <div class="modal-content-2">
                        <span class="close">&times;</span>
                        <div class="container-sucess">
                            <img class="sucess-img" src="{{url_for('static', filename='images/svg/login-page/error.svg')}}">
                        </div>
                        <p class="p-sucesso">Erro!</p>
                        <div class="container-btn-continue-2">
                            <button class="btn-continue-cadastro-2"><a class="btn-novamente-a" href="google.com">Tente Novamente</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
<script type="text/javascript" src="{{url_for('static', filename='js/modal.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/cadastro.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/navbar.js')}}"></script>
</html>