<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>WorkStation</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='style/login.css')}}">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="shortcut icon" type="imagex/png" href="{{url_for('static', filename='images/png/icon-branco.png')}}">
</head>
<body>
    <header id="header">
    <a class="ld-page-return" href="{{url_for('main.index')}}"><img class="logo" src="{{url_for('static', filename='images/png/logo.png')}}"></a>
    <ul id="menu" role="menu" class="nav">
        <li><a href="{{url_for('main.index')}}">Box</a></li>
        <li><a href="{{url_for('main.about')}}">Sobre</a></li>
        <li><a href="{{url_for('blog.index_blog')}}">Blog</a></li>
    </ul>
    <div id="login" class="nav">
        <a id ="reg" class="cta" href="{{url_for('user.register')}}">Register&nbsp</a>
        <a target="none" style="color: white;">|&nbsp</a>
        <a class="cta" href="{{url_for('user.login')}}"><button id ="sign">Sign in</button></a>
    </div>
    <div id="nav-mobile">
        <button aria-label="Abrir Menu" id="btn-mobile" aria-haspopup="true" aria-controls="menu" aria-expanded="false">
            <span id="hamburger"></span>
        </button>
        <ul id="menu" role="menu" >
            <div id="login">
                <a id ="reg" class="cta" href="{{url_for('user.register')}}">Register&nbsp</a>
                <a target="none" style="color: white;">|&nbsp</a>
                <a class="cta" href="{{url_for('user.login')}}"><button id ="sign">Sign in</button></a>
            </div>
            <li><a href="{{url_for('main.index')}}">Box</a></li>
            <li><a href="{{url_for('main.about')}}">Sobre</a></li>
            <li><a href="{{url_for(blog.index_blog)}}">Blog</a></li>
        </ul>
    </div>
  </header>
    <main>
        <div class="container-esquerda">
            <div class="container-imagem-login">
                <img class="img-login-principal" src="{{url_for('static', filename='images/svg/login-page/Login-principal.svg')}}">
            </div>
        </div>
        <div class="container-direita">
            <div class="container-form-geral">
                <div class="container-logo-rosa">
                    <img class="img-logo-rosa" src="{{url_for('static', filename='images/svg/Logo _workstation_rosa.svg')}}">
                </div>
                <div class="container-form">
                    <form method="post">
                        <div class="ctn-verificacao">
                            <h2 class="h2-verificacao" style="color:black;">Verificação de duas etapas</h2>
                            <p class="p-codigo-ex" style="color: #787878;">Digite o código de verificação enviado no seu email.</p>
                        </div>
                        <div class="campo_txt">
                            <label class="campo-requerido">Código de verificação</label>
                            <input class="inputs-login" type="text" required placeholder="Código de verificação">
                        </div>
                        <div class="reenviar-codigo">
                            <p class="nao-recebeu" style="color: #787878;">Não recebeu o código?</p>
                            <p class="p-reenviar-codigo" style="color: #FF0A54;">Reenviar o código</p>
                        </div>
                        <div class="container-button-login">
                            <input type="submit" value="Login">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
</body>
<script type="text/javascript" src="{{url_for('static', filename='js/navbar.js')}}"></script>
</html>