    .container-comeco-blog {
        height: 60vh;
        width: 100%;
        display: flex;
    }
    
    .container-imagem-about {
        width: 50%;
        height: 100%;
    }
    
    .imagem-comeco-about {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
    
    .container-textos-comeco-about {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: left;
        padding-bottom: 5%;
        margin-left: 5%;
    }
    /** TEXTOS COMECO ABOUT**/
    
    .container-h1-about-vantagem {
        text-align: left;
        width: 50%;
    }
    
    .h1-vantagem {
        font-size: 3rem;
    }
    
    .container-p-data {
        display: flex;
        width: 50%;
        margin-bottom: 2%;
    }
    
    .p-vantagem {
        color: #787878;
        width: 50%;
    }
    
    .button-conhecer {
        width: 31%;
    }
    
    .button-conhecer-container {
        width: 55%;
        justify-content: flex-end;
    }