.date-picker {
	position: relative;
	width: 90%;
	margin-left: 9.5%;
}

.date-picker:hover {
	background-color: #F3F3F3;
}

.date-picker .dates {
	display: block;
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;

	background-color: #FFF;
}

.date-picker .dates .month {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: white !important;
}

.date-picker .dates .month .mth {
	color: white;
}

.date-picker .dates .month .arrows {
	width: 35px;
	height: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 20px;
}

.date-picker .dates .month .arrows:hover {
	color: salmon;
}

.date-picker .dates .month .arrows:active {
	color: black;
}

.date-picker .dates .days {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	height: 200px;
	margin-top: 10px
}

/* TESTE */
/* .container-day {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .container-day input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
  .container-day:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  .container-day input:checked ~ .checkmark {
    background-color: #2B2E51;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .container-day input:checked ~ .checkmark:after {
    display: block;
  }
  
  .container-day .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  } */